### Importar Librerias 

pandas
numpy
seaborn
matplotlib

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Lectura de archivo CSV

In [27]:
# Para leer el archivo en csv agregar la ubicaciÃ³n del archivo entre ""

bd= "Dataset/CreditRisk.csv"

# Para leer el archivo con pandas pd.read_csv
data= pd.read_csv(FILENAME)

# Para seleccionar los encabezados 
data.head()

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,ok,9,rent,60,30,married,no,freelance,73,129,0,0,800,846
1,ok,17,rent,60,58,widow,no,fixed,48,131,0,0,1000,1658
2,default,10,owner,36,46,married,yes,freelance,90,200,3000,0,2000,2985
3,ok,0,rent,60,24,single,no,fixed,63,182,2500,0,900,1325
4,ok,0,rent,36,26,single,no,fixed,46,107,0,0,310,910

### Visualizar los tipos de datos de nuestra base

In [25]:
data.dtypes

status       object
seniority     int64
home         object
time          int64
age           int64
marital      object
records      object
job          object
expenses      int64
income        int64
assets        int64
debt          int64
amount        int64
price         int64
dtype: object

In [34]:
bd.describe()

AttributeError: 'str' object has no attribute 'describe'